@model iScheduling.Models.DayOffRequest.AddDayOffRequestVM

<div class="modal fade" id="create-day-off-request" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Date of Shift: @Model.DateOfShift.ToShortDateString()</h3>
            </div>

            <input type="hidden" id="shiftId" value="@Model.ShiftId" />

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="md-form form-group">
                            <h4>Shift Start At: @Model.ShiftStartAt</h4>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs6">
                        <div class="md-form form-group">
                            <h4>Shift End At: @Model.ShiftEndAt</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                            <label>Reason: </label>
                            @Html.TextAreaFor(m => m.Reason, new { @class = "form-control", @id = "txtReason", @placeholder="Reason"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success bold" onclick="createRequest()">Request</button>
                <button type="button" class="btn btn-default bold" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

