<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-datepicker")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        string MANAGEMENT_ROLE = string.Format("{0}, {1}, {2}",
                            iScheduling.Helper.EnumHelpers.GetDescription(iScheduling.DTO.Enums.Role.STORE_MANAGER),
                            iScheduling.Helper.EnumHelpers.GetDescription(iScheduling.DTO.Enums.Role.PRODUCTION_TEAM_MANAGER),
                            iScheduling.Helper.EnumHelpers.GetDescription(iScheduling.DTO.Enums.Role.FRONT_TEAM_MANAGER));

                        string MEMBER_ROLE = string.Format("{0}, {1}",
                            iScheduling.Helper.EnumHelpers.GetDescription(iScheduling.DTO.Enums.Role.FRONT_TEAM_MEMBER),
                            iScheduling.Helper.EnumHelpers.GetDescription(iScheduling.DTO.Enums.Role.PRODUCTION_TEAM_MEMBER));
                    }

                    
                    @if (HttpContext.Current.User != null)
                    {
                        if (HttpContext.Current.User.IsInRole(MANAGEMENT_ROLE))
                        {
                            <li>@Html.ActionLink("Employee", "List", "Employee")</li>
                            <li>@Html.ActionLink("Shift", "Index", "Shift")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("My Info", "List", "Employee")</li>
                        }

                        <li>@Html.ActionLink("Logout", "Logout", "Auth")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-datepicker")

    @RenderSection("scripts", required: false)
</body>
</html>
